/* Global styles */
body, html {
  background-color: black;
  color: #FF204E;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Ensure the container and its child elements also follow the dark theme */
.container {
  background-color: black;
  color: #FF204E;
  padding: 20px;
  flex: 1; /* This allows the container to take up the remaining space */
}

/* Input fields and buttons */
.input-group .form-control {
  background-color: white;
  color: #FF204E;
  border: 2px solid #555;
  border-radius: 5%;
}

.input-group .btn-primary {
  background-color: rgb(163, 48, 73);
  border-color:rgb(19, 5, 8) ;
  color: white;
  margin-left: 0.5cm;
}


.chart-container {
  width: 100%;
  height: 800px;
  background-color: #3D3A4A;
  color: #FF204E;

}


/* Tooltip styling */
.tooltip {
  position: absolute;
  padding: 8px;
  background-color: #000;
  border: 1px solid #0ff;
  border-radius: 5px;
  color: #0ff;
  visibility: hidden;
  pointer-events: none;
}

/* Footer styling */
.footer {
  background-color: #1a1a1a;
  color: #0ff;
  padding: 20px 0;
  text-align: center;
  flex-shrink: 0; /* Ensures the footer stays at the bottom */
}

.footer a {
  color: #0ff;
  text-decoration: none;
}
